* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
body {
  background: #e9e9e9;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.nav {
  border-radius: 32px;
  background: #fff;
  display: flex;
  padding: 20px 30px;
  align-items: flex-start;
  gap: 20px;
}
.tools {
  display: flex;
  align-items: flex-start;
}
.tool-1 {
  display: flex;
  border-radius: 32px;
  background: #fff;
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
.tool-2 {
  display: flex;
  border-radius: 32px;
  background: #fff;
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}
